# barnacle cluster config.yaml
cluster: qsub
   -e {cluster.error}
   -o {cluster.output}
   -l nodes=1:ppn={cluster.n}
   -l mem={cluster.mem}gb
   -l walltime={cluster.time}
cluster-status: barnacle_status.py
max-jobs-per-second: 4
jobs: 16
keep-going: True
max-status-checks-per-second: 20
restart-times: 1
local-cores: 2
latency-wait: 60
